.post {
    background-color: #FFFFFF;
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    width: 450px;
    height: 516px;
    border-radius: 4px;
}

.post p {
    margin: 0;
    margin-left: 8px;
}

.post img {
    width: 450px;
    height: 450px;
    margin-top: 0;
}

.time-post {
    color: #666;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 10px;
    padding-top: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}