.post {
    background-color: #FFFFFF;
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    width: 28.125rem;
    height: 3.75rem;
    border-radius: 0.25rem;
}

.post.with-image {
    height: 32.25rem;
}

.post p {
    margin: 0;
    margin-left: 0.5rem;
}

.post img {
    width: 28.125rem;
    height: 28.125rem;
    margin-top: 0;
}

.time-post {
    color: #666;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.625rem;
    padding-top: 0.75rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}