.new-post {
    width: 80vw;
    min-height: 70vh;
    background: #282A36;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .modal {
    margin-top: 1.563rem;
  }
  