.new-post {
    width: 80vw;
    min-height: 70vh;
    background: #282A36;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .modal {
    margin-top: 1.563rem;
  }
  
  .add-post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 14.875rem;
    height: 3.125rem;
    color: #6272A4;
    background-color: #FFFFFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    &:disabled {
      background-color: rgb(170, 168, 168);
      cursor: auto;
    }
  }
  
  .add-post-button span {
    margin-top: 0.313rem;
    margin-left: 0.313rem;
  }